{% include "header-main.html" %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Fragrance Inemtus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Strona główna
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">O mnie</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products">Produkty</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store">Sklep</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



<section class="page-section clearfix" style="color: white !important;">
    <div class="container">
        <div class="intro">

            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                 src="{{ url_for('static', filename='images/candles/soft1.png') }}" alt="profile image" height="300"

            <div class="intro-text bg-faded left-0 text-center bg-faded p-5 rounded">

                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Otwórz drzwi</span>
                    <span class="section-heading-lower">natury</span>
                </h2>
                <p class="mb-3">
                    Może to dlatego, że sie starzeję poprostu planuje robić to co chce robić,
                    może to większa pewość siebie,
                    może to poprostu więcej mądrości...
                    Tutaj Otylia, i ostatnio odkryłam jak połączyć pasję z zarabianiem pieniędzy- zobaczcie Sami...
                    Pielęgnuję swój własny ogród, piękne kwiaty które wtapiam w naturalną parafinę i w rezultacie
                    otrzymuję niesamowitą i niepowtarzalną kompozycję świeczek.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="/store#maps">Odzwiedź mnie dzisiaj!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">MOJA OBIETNICA</span>
                        <span class="section-heading-lower">DO CIEBIE</span>
                    </h2>
                    <p class="mb-0">

                        Kiedy wchodzisz na moją stronę, aby rozpocząć dzień, jestem oddana zapewnianiu przyjaznej
                        obsługi, przyjaznej atmosfery, a przede wszystkim doskonałych produktów wykonanych z najwyższej
                        jakości składników. Jeśli nie jesteś usatysfakcjonowany, poinformuj mnie o tym, a zrobię
                        wszystko, co w mojej mocy, aby wszystko naprawić!

                        <!--When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!-->
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


{% include "footer.html" %}


</body>

</html>
