{% include "header-main.html" %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">

    <div class="container demo-1">

        <div id="large-header" class="large-header">

            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">Adam <span class="thin">Jarzebak</span></h1>
            <h1 class="main-title" id="main-title2">Computer scientists student •<span class="thin">Software systems developer</span>
            </h1>

        </div>

    </div>

</header>
<!-- Navigation -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Welcome</a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->

                <li class="active dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#about">About</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/ai">Artificial Intelligence<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ai">Projects</a></li>
                        <li><a href="/digitRecognition">Digit Recognition Demo</a></li>
                        <li><a href="/aidocs">Documentation</a></li>
                    </ul>
                </li>
                <li><a href="/vision">Final Project</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 text-center" id="profile-picture">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile image" height="300"
                     width="300">

            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="about-text">
                    <p>This is my little place where I like to talk about my ideas, my personal projects and the stuff
                        that I have
                        learned through experimenting in my free time.</p>
                    <h1>
                        MORE COMING SOON
                    </h1>

                    <span>
                        <a href="/viewCV" class="btn btn-default btn-lg" target="_blank">View my resume</a>

                    <a href="/downloadCV" class="btn btn-default btn-lg">Download my resume</a>
            </span>

                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Section -->
    <div id="portfolio">
        <div class="container">
            <div class="section-title text-center center">
                <h2>Portfolio</h2>
                <hr>
            </div>
            <div class="categories">
                <ul class="cat">
                    <li>
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".graphic">Personal Projects</a></li>
                            <li><a href="#" data-filter=".illustration">Professional Projects</a></li>
                            <li><a href="#" data-filter=".photography">Educational Projects</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>


            <div style="display: none" class="row">


                <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 graphic">
                        <div class="portfolio-item">
                            <div class="hover-bg">

                                <a href="{{ url_for('static', filename='images/portfolio/01-large.jpg') }}"
                                   title="Project Title"
                                   data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Project Title</h4>
                                    </div>
                                    <img src="{{ url_for('static', filename='images/portfolio/01-small.jpg') }}"
                                         class="img-responsive"
                                         alt="Project Title"> </a></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 illustration">
                        <div class="portfolio-item">
                            <div class="hover-bg"><a
                                    href="{{ url_for('static', filename='images/portfolio/02-large.jpg') }}"
                                    title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                </div>
                                <img src="{{ url_for('static', filename='images/portfolio/02-small.jpg') }}"
                                     class="img-responsive"
                                     alt="Project Title"> </a></div>
                        </div>
                    </div>

                </div>
            </div>

            <h1 style="text-align: center">
                MORE COMING SOON
            </h1>

        </div>
    </div>
</div>
    <!-- Contact Section -->
    <div id="contact" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Get In Touch</h2>
                <hr>
            </div>
            <div class="col-md-8 col-md-offset-2">


                <div class="social">
                    <ul>

                        <li><a href="https://www.facebook.com/adamjarze" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.linkedin.com/in/adam-jarzebak-908669120" class="fa fa-linkedin"></a>
                        </li>
                        <li><a href="https://github.com/jarzab3" class="fa fa-github-alt"></a></li>
                        <li><a href="mailto:adam@jarzebak.eu?&subject=General query&body=Hi Adam,"
                               class="fa glyphicon-envelope"></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}

<script src="{{ url_for('static', filename='javascripts/nivo-lightbox.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/jquery.isotope.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/jqBootstrapValidation.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/contact_me.js') }}"></script>

<script src="{{ url_for('static', filename='javascripts/TweenLite.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/EasePack.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rAF.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/demo-1.js') }}"></script>

</body>
